{{ attach_library('olivero/powered-by-block') }}
<div class="block block- block-system-powered-by-block">
<span>
  {{ content }}
  <span class="drupal-logo" role="img" aria-label="{{ 'Drupal Logo'|t }}">
    {% include "@olivero/../images/drupal.svg" %}
  </span>
</span>
</div>
