<div class="social-bar">
  <div class="social-bar__inner fixable">
    <div class="rotate">
      <div class="block block-">
        <div class="block__content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
